* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #edeae1;
}

h1 {
  margin: 0;
}

#root {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 1em;
}

.add-form #input {
  border-radius: 40px;
  height: 40px;
  outline: none;
  padding: 0.5em 1em;
  border: none;
}

.add-form #status {
  all: reset;
  height: 20px;
  width: 20px;
  accent-color: #1b2651;
}

.add-form textarea {
  border-radius: 20px;
  resize: vertical;
  height: 100px;
  outline: none;
  padding: 1em;
  border: none;
  font-family: inherit;
}

.add-form button {
  padding: 0.5em 2em;
  color: white;
  border-radius: 40px;
  height: 40px;
  border: none;
}

#add {
  background-color: #1b2651;
}

#add:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#cancel {
  background-color: transparent;
  border-color: #1b2651;
  border: 1px solid #1b2651;
  color: #1b2651;
}

#cancel:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 5, 0.15);
}

#todos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 0 1em;
  width: 35%;
  flex: 1;
  overflow-y: auto;
}

#todos div {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}

#todos div li {
  flex: 1;
  white-space: wrap;
  word-break: break-all;
}

#todos button {
  font-size: 12px;
  height: 30px;
  padding: 0em 1em;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white;
  white-space: nowrap;
}

#todos button:hover {
  cursor: pointer;
}

#delete-button {
  background-color: #cd2028;
}

#toggle-button {
  background-color: #166c96;
}

#edit-button {
  background-color: #1b2651;
}

#todos .completed {
  background-color: #169630;
}

.task-filters {
  display: flex;
  border-radius: 40px;
  justify-content: space-between;
  width: 35%;
}

.task-filters #search-tasks {
  border-radius: 40px;
  height: 40px;
  outline: none;

  padding: 0.5em 1em;
  border: none;
  width: 60%;
}

.task-filters #task-status {
  border-radius: 40px;
  height: 40px;

  outline: none;
  padding: 0.5em 1em;
  border: none;
  appearance: none;
  background-size: 1em;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1em;
}

.pagination-buttons {
  display: flex;
  gap: 4px;
}

.pagination-buttons button {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: all 0.3 ease-in;
}

.pagination-buttons button:hover {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
}

.pagination-buttons button:disabled {
  background-color: #1b2651;
  color: white;
}

.paginaton-limit {
  border-radius: 40px;
  height: 40px;
  outline: none;
  padding: 0.5em 1em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 1000px) {
  .add-form {
    width: 75%;
  }

  #todos {
    width: 75%;
  }

  .task-filters {
    width: 75%;
  }
}
